*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.cpio.gz filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.tar.xz filter=lfs diff=lfs merge=lfs -text
*.tar.bz2 filter=lfs diff=lfs merge=lfs -text
*.cpio.bz2 filter=lfs diff=lfs merge=lfs -text
*.cpio.xz filter=lfs diff=lfs merge=lfs -text
*.img.xz filter=lfs diff=lfs merge=lfs -text
*.img.gz filter=lfs diff=lfs merge=lfs -text
*.img.bz2 filter=lfs diff=lfs merge=lfs -text
